/* EX1) Write a selector to target the h1 in jumbotron */
div.jumbotron > div > h1 {
  background-color: ;
}

/* EX2) Write a selector to target every children of the navbar */

nav > a {
  background-color: ;
}

/* EX3) Write a selector to target the "continue reading..." inside the jumbotron */
div.jumbotron > div > p > a {
  background-color: red;
}

/* EX4) Write a selector to target the first blogpost */
div > div.row.mb-2 > div:nth-child(1) > div > div {
  background-color: red;
}
/* EX5) Write a selector to target the "even" links in the navbar */
div > div > nav > a:nth-child(2n) {
  background-color: red;
}

/* EX6) Write a selector to target the last blog post */
div > div > div:nth-child(4) {
  background-color: red;
}

/* EX7) Write a selector to target all the li into the first ordered-list in the sidebar ( Archives ) */
aside > div:nth-child(2) > ol > li {
  background-color: red;
}
/* EX8) Write a selector to target the second post author */
/* div > div > div:nth-child(2) > p.blog-post-meta > a {
  background-color: red;
} */
/* EX9) Write a selector to target the "back to top" link     #### EXTRA Try doing it without targeting the footer element directly */
footer p:nth-child(2) > a {
  background-color: yellow;
}
/* EX10) Write a selector to target the footer */
footer {
  background-color: ;
}
